/* On iPhone (Portrait) */
@media only screen and (max-width: 400px) {
  html {
    /* No scroll */
    position: fixed;
    /* No pull to refresh */
    overscroll-behavior: none;
  }
  
  #background {
    display: flex;
    align-items: flex-end;
  }

  #calculator {
    margin: 0 0 90px 0;
    position: fixed;
    left: 8px;
  }
}

/* On desktop */
@media only screen and (min-width: 400px) {
  #background {
    display: flex;
    align-items: center;
  }
}

/* On both */

html {
  background-color: black;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#background {
  background-color: black;
  height: 100vh;
  justify-content: center;
}

#display-container {
  background-color: yellow;
  padding: 10px 15px;
  font-size: 90px;
  height: 90px;
  width: 330px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#display {
  background-color: green;
  color: white;
  font-size: inherit;
}

#keypad {
  display: flex;
}

#special-functions {
  display: flex;
  justify-content: center;
}

.special-function {
  background-color: #A5A5A5;
  color: black;
  font-size: 30px;
}

#signs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sign {
  background-color: #FF9503;
  color: white;
  font-size: 35px;
}

.selected {
  background-color: white;
  color: #FF9503;
}

#numbers {
  width: 273px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.number {
  background-color: #323332;
  color: white;
  font-size: 30px;
}

#zero {
  padding: 0 0 0 30px;
  text-align: left;
  width: 162px;
}

button {
  border: none;
  border-radius: 100px;
  height: 75px;
  margin: 6px;
  touch-action: none;
  width: 75px;
}