html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#calculator {
  margin: 0 0 50px 0;
}

#background {
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#display {
  padding: 10px 15px;
}

#display-text {
  color: white;
  font-size: 90px;
  text-align: right;
}

#keypad {
  display: flex;
}

#special-functions {
  display: flex;
  justify-content: center;
}

.special-function {
  background-color: #A5A5A5;
  color: black;
  font-size: 30px;
}

#signs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sign {
  background-color: #FF9503;
  color: white;
  font-size: 35px;
}

.selected {
  background-color: white;
  color: #FF9503;
}

#numbers {
  width: 235px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.number {
  background-color: #323332;
  color: white;
  font-size: 30px;
}

#zero {
  padding: 0 0 0 22px;
  text-align: left;
  width: 142px;
}

button {
  border: none;
  border-radius: 100px;
  height: 65px;
  margin: 6px;
  width: 65px;
}